@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

main {
    max-width: 38rem;
}
html {
    padding-left: 30px;
    line-height: 1.75;
    font-size: 1.25em;
}
h1,h2,h3,h4,h5,h6 {
    margin: 3em 0 1em;
}
p,ul,ol {
    margin-bottom: 2em;
    color: #1d1d1d;
    font-family: sans-serif;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
  }
  caption {
    padding: 10px;
    color: white;
    background: #bb8fd4;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
  }
  td {
    padding: 10px;
  }
  tr:nth-child(odd) {
    background: white;
  }
  tr:nth-child(even) {
    background: #d1dce8;
  }
    caption{
        padding-bottom: 10px;
    }
    button{
        border-radius: 5px;
        border-color: #7d85ba;
        font-family: "Montserrat", sans-serif
    }
    input {
        box-sizing: border-box;
        width: 286px;
        height: 50px;
        border: 2px solid #7d85ba;
        border-radius: 5px;
        margin-top: 0px;
        padding-left: 1rem;
    }
    #send{
        height: 50px;
    }
    #update{
        margin-bottom: 10px;
        margin-top: 20px;
    }

    #modelup{
      overflow: auto;
      height: 400px;
    }
  #modelup::-webkit-scrollbar {
      display: none;
  }
  
  #addButton{
      position: fixed;
      bottom: 10px;
      left: 90%;
      width: 100px;
      height: 50px;
  }
  #canvas-wrapper, #can-wrap{
      min-width: 200px;
      height: 200px;
      max-height: 300px;
      border: 2px solid #7d85ba;
      margin-top: 10px;
      
  }
  #form li{
      margin-bottom: 10px;
      margin-top: 10px;
      list-style-type: none;
  }
  #form textarea, #form select, #form option{
      border: 2px solid #7d85ba;
      border-radius: 5px;
      width: 286px;
      min-height: 35px;
      font-size: 14px;
  }
  
  #addModel p{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #1d1d1d;
    font-size: 1.3em;
    margin: 0;
  }

  #flex-div{
      display: flex;
      flex-direction: row;
      gap: 40px;
  }

  ul, li{
    margin: 0;
    padding: 0;
  }

  #formdiv{
    display: flex;
    align-items: center;
    gap: 40px;
  }

